<div class="container">
    <h1>Lista de productos en tiempo real</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Código</th>
                <th scope="col">Precio</th>
                <th scope="col">Estado</th>
                <th scope="col">Stock</th>
                <th scope="col">Categoria</th>
                <th scope="col">Imagen</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <th scope="row">{{this.id}}</th>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.code}}</td>
                <td>{{this.price}}</td>
                <td>{{this.status}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.category}}</td>
                <td><img src="{{this.thumbnail}}" alt="{{this.title}}" width="50" /></td>
                <td>
                    <button class="btn btn-danger delete-product" data-product-id="{{this.id}}">Eliminar</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<form id="productForm">
    <input type="text" id="productTitle" placeholder="Título del producto" required />
    <textarea id="productDescription" placeholder="Descripción del producto" required></textarea>
    <input type="text" id="productCode" placeholder="Código del producto" required />
    <input type="number" id="productPrice" placeholder="Precio del producto" required />
    <input type="checkbox" id="productStatus" checked /> Activo
    <input type="number" id="productStock" placeholder="Stock del producto" required />
    <input type="text" id="productCategory" placeholder="Categoría del producto" required />
    <input type="text" id="productThumbnail" placeholder="URL de la imagen del producto" required" />
    <button type="submit">Agregar producto</button>
</form>