<h1>Lista de productos con websocket</h1>
{{#each products}}
<h2>{{this.title}}</h2>
<p>{{this.description}}</p>
<p>{{this.price}}</p>
{{#if this.thumbnail}}
<img src="{{this.thumbnail}}" alt="{{this.title}}">
{{/if}}
<p>{{this.stock}}</p>
{{/each}}

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>